* {
    background-color: rgb(227, 227, 227);
}

.topBanner {
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1;
}

.bullet-top {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.bullet-body {
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    word-wrap: break-word;
    width: 300px;
    padding: 20px;
}